[submodule "external/mo_yanxi_vulkan_wrapper"]
	path = external/mo_yanxi_vulkan_wrapper
	url = https://github.com/Yuria-Shikibe/mo_yanxi_vulkan_wrapper.git
[submodule "external/plf_hive"]
	path = external/plf_hive
	url = https://github.com/mattreecebentley/plf_hive.git
[submodule "external/small_vector"]
	path = external/small_vector
	url = https://github.com/Yuria-Shikibe/small_vector.git
[submodule "external/allocator2d"]
	path = external/allocator2d
	url = https://github.com/Yuria-Shikibe/allocator2d.git
[submodule "external/mo_yanxi_react_flow"]
	path = external/mo_yanxi_react_flow
	url = https://github.com/Yuria-Shikibe/mo_yanxi_react_flow.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/greg7mdp/gtl.git
[submodule "external/nanosvg"]
	path = external/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/spirv_reflect"]
	path = external/spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
